<!DOCTYPE html>
<html>
<head>
     <h1><p><font style="font-family:verdana;">Unit Intensity Plots</font></h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
<center><font style="font-family:verdana;size=5">&emsp;&emsp;&emsp;Angle Range (Degrees)</font></center>
</body>
</html>